language: android

jdk:
  - oraclejdk8

android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-24.0.1

    # The SDK version used to compile your project
    - android-24

    # Additional components
    - extra-google-m2repository
    - extra-android-m2repository
    - extra-android-support

  licenses:
     - 'android-sdk-license-.+'
     - 'android-sdk-preview-license-.+'
     - 'google-gdk-license-.+'

script:
  - ./gradlew assembleRelease

cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle